.accordbar .initial-line .line-name a {
  display: block;
  font-size: 1.5rem;
}
.accordbar .initial-line .line-name a:after {
  font-family: "FontAwesome";
  font-size: 2.5rem;
  content: "\f106";

  float: right;
  margin: -15px 0 0 0;
}
.accordbar .initial-line .line-name a.collapsed:after {
  content: "\f107";
}
