/* CSS Styles For All Pages*/


/* Allow elenents to use full browser */
html {
    max-width: 100%;
    height: 100%;

    
}

body{
    margin: 0;
    min-height: 100%;
    width: 100%;
    padding:0;
    display: flex;
    flex-direction: column;
    
    
    
}


/* Prevents fixed navbar from hiding top section of page */
@media only screen and (max-width: 992px) {
body{
    padding-top: 60px;
   
    
    }

}

@media only screen and (max-width: 400px) {
    .home {
        text-align: center!important;
        padding: 0!important;

        
    }
  }


/* Allows footer to stick to the bottom of page */
main {
  flex: 1 0 auto;
  min-height: auto;
}

/* Used for background image */
.home{
      background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url("../img/AccidentEmergency.jpg") no-repeat center center fixed;
    background-size: cover;
     margin: 0;
    min-height: 100%;
    padding:0;
    display: flex;
    flex-direction: column;
}
.homewhite{
     margin: 0;
    min-height: 100%;
    padding:0;
    display: flex;
    flex-direction: column;
}

/* Controls scaling of photos in the carousel */
.imgheight{
    height: 350px;
    width: 100%;
    border: 3px solid greenyellow;
}
.newsphoto{
    height: 100%;
    width: 100%;
    border: 3px solid greenyellow;
    margin-left: 0%;
}

.login{
    display: flex;
    justify-content: center;
}

.align-nav{
    position:absolute; 
    top:0px; 
    width:100%
}

/* Used to darken carousel photos */

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:linear-gradient( rgba(0,0,0.9,0), rgba(0, 0, 0.9, 0.5) );
}

/* Styling navbar */
.navibar{
    background: #3363ff;
    font-weight: bolder;
}

.blacknavbar{
    background: rgba(0,0,0,0.3);
}

/* Styling fixed navbar */
#fixnav{
    background: #3363ff;
    font-weight: bolder;
}

.navbar .navbar-nav a{
    color: white !important;
}
.navbar .navbar-nav a:hover{
    background-color: rgba(0,0,0,0.2) !important;
}

.navbar .navbar-nav .active {
    color: rgba(255,255,255,0.6) !important;
}

.blacknavbar .navbar-nav a:hover {
    color: rgba(54, 211, 124, 0.527) !important;
}

.logbutton{
    color: rgba(0,0,0,0.5) !important;
    font-weight: bold !important;
    background-color: rgba(255,255,255,0.7) !important;
}

#togglebutton{
    background-color:rgba(117, 108, 108, 0.6) !important;
}

/* Also keeps footer stuck to bottom */
.footer{
    display: flex;
    position:absolute bottom;
    padding: 0;
}


/* Used to style the apps sections of index page */
#apps{
    font-family: 'Arvo', serif;
    display: flex;
    flex-direction:column; 
    border-radius: 0px;
}


#homenews{
    font-family: 'Arial', serif;
    /* background: rgb(126, 116, 116); */
    background: rgba(224, 137, 137, 0.993) !important;
    /* background: rgb(0,0,0,0.6); */
    color: rgba(0,0,0,1);
}
#welcome{
    font-family: 'Arial', serif;
    /* background: rgb(245, 213, 213); */
    background: rgba(255, 240, 240, 0.6);
    color: rgba(0,0,0,1);
}

